body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: var(--basic-text-color);
    background-color: var(--bright-background);
    letter-spacing: var(--default-letter-spacing);
  }