:root {
    --basic-text-color: #212121;
    --light-text-color: #757575;
    --bright-text-color: #ffffff;
    --contact-text-color: #999999;
  
    --item-color: #2196f3;
    --link-color: #757575;
    --hover-active-link-color: #2196f3;
  
    --second-background: #f5f4fa;
    --dark-background: #2f303a;
    --light-grey-background: #e5e5e5e5;
    --bright-background: #ffffff;
    --photo-border-color: #eeeeee;
    --social-media-grey-color: #afb1b8;
    --social-media-bright-color: #ffffff;
  
    --customer-icon-hover-color: #2196f3;
    --customer-icon-color: #afb1b8;
  
    --content-width: 1200px;
    --full-web-width: 1600px;
    --default-letter-spacing: 0.03em;
    --second-line-heigth: 1.71;
    --padding-between-sections: 94px;
    --webstudio-logo-font-size: 26px;
  
    --tr-function: cubic-bezier(0.4, 0, 0.2, 1);
    --tr-duration: 250ms;
  
    --basic-radius: 4px;
    
    --phone-width: 480px;
    --tablet-width: 768px;
    --desktop-width: 1200px;
  }